@media screen and (max-width: 1200px) {
    .nav-capsule {
        width: 90%;
        gap: 2rem;
    }

    #profile {
        gap: 2rem;
        height: auto;
        padding: 100px 0;
    }

    .section_pic-container, .profile-pic {
        width: 350px;
        height: 350px;
    }

    .title {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 800px) {
    
    #profile {
        flex-direction: column-reverse; 
        justify-content: center;
        text-align: center;
        height: auto;
    }

    .section__text {
        text-align: center;
    }

    .hero-desc {
        text-align: center;
        margin: 1rem auto;
    }

    .hero-desc::before {
        margin: 0 auto 1rem; 
    }

    
    .nav-links {
        display: none; 
    }

   
    .interactive-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    
    .tech-stack-container {
        gap: 3rem;
    }

    .section_pic-container, .profile-pic {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }

    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        height: 17vh;
    }
}

@media screen and (max-width: 480px) {
    section {
        margin: 0 1.5rem;
    }

    .title {
        font-size: 2rem;
    }

    .nav-capsule {
        padding: 10px 20px;
    }

    .logo {
        font-size: 1.5rem;
    }

    .btn-container {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%; 
    }

    .tech-icon {
        width: 80px;
        height: 80px;
    }

    .contact-info-upper-container {
        flex-direction: column;
        padding: 1rem;
    }
}

